*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  position: relative;
  display: flex;
  min-width: 800px;
  height: 100%;
  margin: 0;
  padding: 60px 0 0;
  font-family: "Raleway", "Arial", sans-serif;
  text-align: center;
  background-color: #fec7ee;
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(255 255 255 / 0.3);
}

.page__video {
  position: absolute;
  inset: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page__title {
  z-index: 0;
  max-width: 765px;
  max-height: 410px;
  margin: 0 auto;
  font-weight: 800;
  font-size: 116px;
  letter-spacing: 3.06px;
  text-transform: uppercase;
}

.page__title::after {
  content: "*";
  position: relative;
}

.page__title:hover {
  color: #4c4c4c;
  cursor: default;
}

.page__title:hover::before {
  content: "На самом деле нет. \AВажнее \2014  научиться ошибаться.";
  position: absolute;
  top: 180px;
  right: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 36px 44px;
  box-shadow: 0 12px 0 black;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 35px;
  line-height: 1;
  text-transform: initial;
  background: #fff;
  white-space: pre;
}
